/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Oct-2015, 12:40:39 PM
    Author     : ericymtai
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100.100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.h2 {
  font-size: 1.8em;
  font-weight: 900;
  line-height: .4em;
}
.h3 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.8em;
}
body {
  background: rgba(255, 255, 255, 0.94) url(../images/BG-5-b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#wrapper {
  width: 85%;
  padding-bottom: 5%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.94);
  margin: 5% auto;
}
@media screen and (max-width: 769px) {
  #wrapper {
    width: 94%;
    margin: 2% auto;
  }
}
#main_head_content h1,
#main_head_content h3,
#main_head_content p,
#sub_head_content h3,
#sub_head_content p,
article h3,
article p,
#sub_head_content h3 {
  color: #188885;
}
header {
  margin: 0 0 5% 3.2%;
}
header nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  display: block;
  font-size: 1.4em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.94);
  background-color: #e93f00;
  padding: .5em 2em ;
}
header nav ul li a:hover {
  background-color: #2845bf;
  color: #fff;
}
@media screen and (max-width: 769px) {
  header {
    margin: 0;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    text-align: center;
    margin: 0 auto;
  }
  header nav ul li a {
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: .5em 1em ;
  }
}
@media screen and (max-width: 410px) {
  header {
    /*margin: 2% 0 0 10%;*/
    margin: 2% 0;
  }
  header nav ul li {
    display: block;
  }
  header nav ul li a {
    font-size: 1.3em;
    margin: 5% 0;
    padding: 1em 2em;
  }
}
.active {
  background-color: #2845bf;
  color: #fff;
}
section {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  float: left;
}
section main {
  width: 30%;
  float: left;
}
section #logo,
#main_head_content,
#sub_head_content {
  margin-left: 10%;
  width: 80%;
}
section #logo img {
  width: 100%;
}
section #main_head_content {
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  line-height: 2em;
}
section #main_head_content h1 {
  font-size: 1.6em;
  font-weight: 700;
  color: #147270;
}
section #main_head_content h3 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.8em;
  font-style: italic;
}
section #main_head_content p {
  font-size: 1.2em;
  font-weight: 500;
  color: #e60000;
}
section hr {
  width: 80%;
  margin-bottom: 15%;
}
section #sub_head_content {
  width: 80%;
  margin-top: 4%;
  margin-left: 10%;
}
section #sub_head_content p {
  line-height: 1.8;
}
section #social_icons {
  text-align: center;
  margin-right: 5%;
}
section #social_icons svg {
  width: 13%;
  margin: 5%;
}
section .icons {
  fill: #d92213;
}
section .icons:hover {
  fill: #0d4745;
}
section article {
  width: 70%;
  float: left;
}
section article hr {
  width: 95%;
  margin-bottom: 8%;
  float: left;
}
section article h2 {
  font-size: 1.8em;
  font-weight: 900;
  line-height: .4em;
  font-style: italic;
  letter-spacing: .03em;
  color: #d00c13;
  clear: left;
  margin: 2% 0 3%;
}
section article h3 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.8em;
  color: #147270;
  margin-top: 5%;
}
section article p {
  font-size: 1em;
  font-weight: 100;
  font-style: italic;
  line-height: 1.4em;
  color: #1d771d;
}
section article a {
  text-decoration: none;
  color: #d00c13;
}
section article a:hover {
  color: #188885;
  text-decoration: underline;
}
section article img {
  width: 20%;
  float: left;
}
section article .image {
  width: 60%;
  min-height: 20em;
  margin: 5% auto;
  background: url("../images/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section article .sub_content {
  width: 70%;
  margin-left: 2%;
  float: left;
  font-size: 1.1em;
  color: #0c6a34;
}
section .article_content {
  padding-right: 3%;
}
section .article_content > p:first-child,
.res_content {
  margin: 5% 0;
}
section .article_content span {
  color: #eb2b1b;
}
section .article_content hr {
  margin: 5% 0 1%;
}
section .article_content h2 {
  margin: 13% 0 5%;
}
section .article_content h4 {
  color: #1d771d;
  font-size: 1.1em;
  font-weight: 700;
}
section .article_content ul {
  list-style-position: inside;
}
section .article_content ul li {
  margin-left: 5%;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  color: #1d771d;
}
section .article_content img {
  margin: 5% 25%;
  width: 40%;
}
@media screen and (max-width: 769px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  section #logo,
  #main_head_content,
  #sub_head_content {
    width: 30%;
    margin: 0 auto;
  }
  section main {
    width: 100%;
    border-bottom: 2px solid #ddd;
  }
  section #main_head_content {
    width: 100%;
    margin-bottom: 5%;
    margin-left: 0;
    text-align: center;
  }
  section #sub_head_content {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  section #social_icons {
    width: 100%;
    margin: 0;
    margin-left: 2%;
    text-align: center;
  }
  section #social_icons svg {
    margin: 3% 3% 5% 0;
    width: 8%;
  }
  section article {
    width: 100%;
    text-align: center;
  }
  section article hr {
    width: 65%;
    margin-top: 25%;
    margin-bottom: 10%;
    float: none;
  }
  section article h2 {
    margin-top: 5%;
    line-height: 1.5em;
  }
  section article p {
    display: block;
    margin-left: 18%;
    width: 80%;
    font-size: 1.1em;
  }
  section article img {
    float: none;
    margin: 0 auto 5%;
    width: 40%;
  }
  section article .sub_content {
    width: 85%;
  }
  section .article_content {
    padding-right: 3%;
  }
  section .article_content > p:first-child,
  .res_content {
    margin: 5% auto;
  }
  section .article_content p {
    margin: 0 auto;
  }
  section .article_content hr {
    margin: 5% auto 1% ;
    width: 50%;
  }
  section .article_content h4 {
    margin-bottom: 1%;
  }
  section .article_content ul li {
    margin-left: 0;
  }
  section .article_content img {
    margin: 5% 30%;
    width: 40%;
  }
}
@media screen and (max-width: 320px) {
  section article img {
    width: 80%;
    margin: 0 auto 5%;
    /*text-align: center;*/
  }
}
#info_section,
footer {
  width: 100%;
  text-align: center;
  float: left;
  margin: 2% 0;
  background: rgba(242, 242, 242, 0.94);
}
#info_section p {
  margin: .75em 0;
  font-size: 1.25em;
}
#info_section p + p {
  margin: -0.5em 0 0;
}
#info_section ul,
footer ul {
  list-style: none;
}
#info_section ul li,
footer ul li {
  display: inline-block;
  margin: auto;
  margin-left: 5%;
}
#info_section ul li a,
footer ul li a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 1em;
  color: #97a7e9;
}
#info_section ul li a:hover,
footer ul li a:hover {
  text-decoration: underline;
  color: #188885;
}
#info_section ul li a::after,
footer ul li a::after,
footer ul li a:hover::after {
  content: " |";
  margin: 0 1em;
  font-style: normal;
  color: #eb2b1b;
  display: inline-block;
}
#info_section ul li:last-child a::after,
footer ul li:last-child a::after {
  content: "";
}
#info_section .pictures {
  width: 100%;
  display: -webkit-flex;
  display: flex;
}
#info_section .picFrame {
  width: 33%;
  margin: 3% 0;
  float: left;
}
#info_section img {
  width: 25%;
}
@media screen and (max-width: 769px) {
  #info_section p {
    font-size: 1.15em;
    width: 85%;
    margin: 5% auto;
  }
  #info_section p + p {
    width: 85%;
    margin: 1% auto 2%;
  }
  #info_section ul li a,
  footer ul li a {
    font-size: 1em;
    line-height: 2.5em;
    margin: 0 auto;
  }
  #info_section .picFrame {
    width: 100%;
  }
  #info_section img {
    width: 50%;
  }
}
@media screen and (max-width: 320px) {
  #info_section .pictures {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  #info_section p {
    width: 75%;
    margin: 10% auto 5%;
  }
  #info_section p + p {
    width: 75%;
    margin: 0 auto 5%;
  }
  #info_section img {
    width: 25%;
  }
}
footer {
  background: transparent;
}
footer ul li a {
  color: #acb9ee;
}
footer ul li a:hover {
  color: #f9c4bf;
}
/*# sourceMappingURL=newStyle.css.map */