/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Oct-2015, 12:40:39 PM
    Author     : ericymtai
*/
/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.h2 {
  font-size: 1.8em;
  font-weight: 900;
  line-height: .4em;
}
.h3 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.8em;
}
body {
  background: rgba(255, 255, 255, 0.94) url(../images/BG-5-b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#wrapper {
  width: 85%;
  padding-bottom: 5%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.94);
  margin: 5% auto;
}
#main_header h1,
#main_header h3,
#sub_header h3,
aside h3,
aside p,
#main_header p,
#sub_header p,
#sub_header h3 {
  color: #188885;
}
nav {
  padding: 0 0 3% 5%;
  color: rgba(255, 255, 255, 0.94);
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  background-color: #ff5a1d;
  margin-right: -1%;
  padding: 1% 2%;
}
nav ul li:hover {
  background-color: #2845bf;
}
nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.94);
}
.active {
  background-color: #2845bf;
}
section {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  float: left;
}
header {
  width: 25%;
  float: left;
  clear: right;
}
#main_header {
  margin-top: 2%;
  line-height: 2em;
}
#main_header h1 {
  font-size: 1.6em;
  font-weight: 700;
  color: #147270;
}
#main_header h3,
#sub_header h3 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.8em;
}
#main_header p {
  font-size: 1.2em;
  font-weight: 400;
  color: #e60000;
}
#logo,
#main_header,
#sub_header {
  margin-left: 10%;
  width: 80%;
}
#logo img {
  width: 100%;
}
#sub_header {
  margin-top: 4%;
}
#sub_header p {
  line-height: 1.8;
}
#social_icons {
  margin: 8% 0 0 30%;
}
#social_icons svg {
  width: 17%;
  margin-right: 2%;
}
.icons {
  fill: #d92213;
}
.icons:hover {
  fill: #0d4745;
}
aside {
  width: 75%;
  float: left;
}
aside hr {
  width: 95%;
  margin-bottom: 8%;
  float: left;
}
aside h2 {
  font-size: 1.8em;
  font-weight: 900;
  line-height: .4em;
  color: #d00c13;
  margin: 2% 0 3%;
}
aside h3 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.8em;
  color: #147270;
}
aside p {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  color: #1d771d;
}
aside .content {
  display: block;
  float: left;
}
aside img {
  width: 20%;
  float: left;
}
aside .sub_content p {
  width: 70%;
  margin-left: 2%;
  display: block;
  float: left;
  font-size: 1.1em;
  color: #0c6a34;
}
footer {
  width: 100%;
  text-align: center;
  float: left;
  /*    & img {
        width: 5%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        float: left;
        margin: 3% 7%;*/
  /*        -webkit-justify-content: space-between;	
        justify-content: space-between;	*/
  /*}*/
}
footer ul {
  list-style: none;
}
footer ul li {
  display: inline-block;
  margin-right: .5%;
}
footer ul li a {
  text-decoration: none;
}
footer ul li a::after {
  content: " |";
  margin-right: 5%;
  color: #eb2b1b;
}
footer ul li:last-child a::after {
  content: "";
}
footer .pic {
  width: 15%;
  height: 5em;
  float: left;
  /*        display: inline-block;
        margin: auto;*/
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-right: 3%;
  -webkit-align-items: center;
  align-items: center;
}
footer .pictures .pic1 {
  background: url(../images/1.jpg) no-repeat;
  background-size: contain;
}
footer .pictures .pic2 {
  background: url(../images/2.jpg) no-repeat;
  background-size: contain;
}
footer .pictures .pic3 {
  background: url(../images/3.jpg) no-repeat;
  background-size: contain;
}
/*@media screen and (max-width:800px) {
    aside {
    width: 50%;
    }
    
}*/
/*# sourceMappingURL=newStyle.css.map */