/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Oct-2015, 12:40:39 PM
    Author     : ericymtai
*/
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
       
        
 // LESS variable
 @primColor: #188885;   // green
 @navColor: #eb2b1b;    // red
 @navSecColor: #2845bf; // dark blue
 @bgColor: rgba(255,255,255,.94);
 @size: 5%;
        
 
 // LESS Mixin
 .h2 {
    font-size: 1.8em;
    font-weight: 900;
    line-height: .4em;
 }
 .h3 {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.8em;
 }
 .my-mixin-dark(@color: @primColor) {
     color: darken(@color, @size);
 }
 .my-mixin-darken(@color: @navColor) {
     background-color: darken(@color, 10%);
 }
 
 // LESS extend
#main_header:extend(#logo) {}
#sub_header:extend(#logo) {}
#sub_header h3:extend(#main_header h3) {}
 
        
 
 
// Global      
body {
    background: @bgColor url(../images/BG-5-b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#wrapper {
    width: 85%;
    padding-bottom: @size;
    overflow: hidden;
    background-color:  @bgColor;
    margin: @size auto;
}
#main_header h1,
#main_header h3,
#sub_header h3,
aside h3,
aside p,
#main_header p,
#sub_header p {
    color:  @primColor;
}


// Nav  section
nav { 
    padding:0 0 3% @size;
    color:  @bgColor;
    & ul {
        list-style: none; 
    }
    & ul li {
        display: inline-block;
        .my-mixin-darken(coral) ;
        margin-right: -1%;
        padding: 1% 2%;
        &:hover {
            .active;
        }
    }
    & ul li a {
        text-decoration: none;
        color:  @bgColor;
    }
}
.active {
    background-color: @navSecColor;
}

// Section
section {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    float: left;
}

// Header
header {
    width: 25%;
    float: left;
    clear: right;
}
#main_header {
    margin-top: 2%;
    line-height: 2em;
    & h1 {
        font-size: 1.6em;
        font-weight: 700;
        .my-mixin-dark(); 
    }
    & h3 {
        .h3; 
    }
    & p {
        font-size: 1.2em;
        font-weight: 400;
        .my-mixin-dark(red); 
    }
}
#logo {
    margin-left: @size+5;
    width: 80%;
    & img {
        width: 100%;
    }
}
#sub_header {
    margin-top: 4%;
    & p {
        line-height: 1.8;
    }
}
#social_icons {
    margin: 8% 0 0 30%;
    & svg {
        width: @size+12;
        margin-right: 2%;
    }
}
.icons {
    fill: darken(@navColor, @size);
    &:hover {
        fill:  darken(@primColor, 15%);
    }
}

// Aside
aside {
    width: 75%;
    float: left;
    & hr {
        width: 95%;
        margin-bottom: 8%;
        float: left;
    }
    & h2 {
        .h2;
        .my-mixin-dark(#e80d15); 
        margin: 2% 0 3%;
    }
    & h3 {
        .h3;
        .my-mixin-dark(); 
    }
    & p {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.4em;
        .my-mixin-dark(forestgreen); 
    }
    & .content {
        display: block;
        float: left;
    }
    & img {
        width: 20%;
        float: left;
    }
    & .sub_content p {
        width: 70%;
        margin-left: 2%;
        display: block;
        float: left;
        font-size: 1.1em;
        .my-mixin-dark(#0e813f); 
    }
}
footer {
    width: 100%;
    text-align: center;
    float: left;
    & ul {
        list-style: none;
    }
    & ul li  {
        display: inline-block;
        margin-right: .5%;
    }
    & ul li a {
        text-decoration: none;
    }
    & ul li a::after {
        content: " |";
        margin-right: 5%;
        color: @navColor;
    }
    & ul li:last-child a::after  {
        content: "";
    }
    & .pictures {

    }
/*    & img {
        width: 5%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        float: left;
        margin: 3% 7%;*/
        
/*        -webkit-justify-content: space-between;	
        justify-content: space-between;	*/
        
    /*}*/
    & .pic {
        width: 15%;
        height: 5em;
        float: left;
/*        display: inline-block;
        margin: auto;*/
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        margin-right: 3%;
-webkit-align-items: center;
    align-items: center;
    }
    & .pictures .pic1 {
        background: url(../images/1.jpg) no-repeat;
        background-size: contain;
    }
    & .pictures .pic2 {
        background: url(../images/2.jpg) no-repeat;
        background-size: contain;
    }
    & .pictures .pic3 {
        background: url(../images/3.jpg) no-repeat;
        background-size: contain;
    }
   
}


/*@media screen and (max-width:800px) {
    aside {
    width: 50%;
    }
    
}*/