/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Oct-2015, 12:40:39 PM
    Author     : ericymtai
*/
@import "globelStyle.less";

@import "lessVar.less";


 // LESS extend
#main_header:extend(section #logo) {}
#sub_header:extend(section #logo) {}
#sub_header h3:extend(#main_header h3) {}


// Global      
body {
    background: @bgColor url(../images/BG-5-b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#wrapper {
    width: 85%;
    padding-bottom: @size;
    overflow: hidden;
    background-color:  @bgColor;
    margin: @size auto;
    @media screen and (max-width: 769px) {
        width: 94%;
        margin: 2% auto;
    }
}
#main_header h1,
#main_header h3,
#sub_header h3,
aside h3,
aside p,
#main_header p,
#sub_header p {
    color:  @primColor;
}


// Header
header {
    margin: 0 0 @size 3.2%;
    @media screen and (max-width: 769px) {
        width: 100%;
        margin: 2% 0 0 27%;
        nav { 
            letter-spacing:  .05em;
            ul li {
                margin-right: 2%;
                a {
                    margin-bottom: 3%;
                };   // nav ul a
            };   // nav ul li 
        };   // nav 
    }
    @media screen and (max-width: 410px) {
        margin: 2% 0 0 10%;
            nav ul li a {
                    margin-bottom: 5%;
                };  // nav ul li a
    }
    nav { 
        ul {
            list-style: none; 
            li {
                a {
                    display: inline-block;
                    float: left;
                    text-decoration: none;
                    color:  @bgColor;
                    .my-mixin-bgDarken(coral) ;
                    padding: 1% 3% 1%;
                    letter-spacing:  .1em;
                    &:hover {
                        .active;
                    };  //ul li a:hover
                };  //ul li a
            };  // ul li
        };  // ul
    };   // nav
}   //header

.active {
    background-color: @navSecColor;
    color: #fff;
}

// Section
section {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    float: left;
    // left side content
    main {
        width: 30%;
        float: left;
    };
    #logo {
        margin-left: @size+5;
        width: 80%;
        img {
            width: 100%;
        };
    };   // #logo
    #main_header {
        width: 80%;
        margin-top: 2%;
        margin-left: 10%;
        line-height: 2em;
        h1 {
            font-size: 1.6em;
            font-weight: 700;
            .my-mixin-dark(); 
        };
        h3 {
            .h3; 
            font-style: italic;
        };
        p {
            font-size: 1.2em;
            font-weight: 500;
            .my-mixin-dark(red); 
        };
    };   // #main_header
    hr {
        width: 80%;
        margin-bottom: 15%;
    };
    #sub_header {
        width: 80%;
        margin-top: 4%;
        margin-left: 10%;
        p {
            line-height: 1.8;
        };
    };   // #sub_header
    #social_icons {
        text-align: center;
        margin-right:  @size;
        svg {
            width: @size+8;
            margin: @size;
        };
    };   // #social_icons
    .icons {
        fill: darken(@navColor, @size);
        &:hover {
            fill:  darken(@primColor, 15%);
        };
    };   // .icons
    // right side content
    aside {
        width: 70%;
        float: left;
        hr {
            width: 95%;
            margin-bottom: 8%;
            float: left;
        };
        h2 {
            .h2;
            font-style: italic;
            letter-spacing: .03em;
            .my-mixin-dark(#e80d15); 
            margin: 2% 0 3%;
        };
        h3 {
            .h3;
            .my-mixin-dark(); 
            margin-top: @size;
        };
        p {
            font-size: 1em;
            font-weight: 100;
            font-style: italic;
            line-height: 1.4em;
            .my-mixin-dark(forestgreen); 
        };
        a {
          text-decoration: none;
          .my-mixin-dark(#e80d15); 
          &:hover {
            color: @primColor;
            text-decoration: underline;
          };
        };
        img {
            width: 20%;
            float: left;
        };
        .sub_content  {
            width: 70%;
            margin-left: 2%;
            float: left;
            font-size: 1.1em;
            .my-mixin-dark(#0e813f); 
        };
    };   // aside
    .aside_content {
        padding-right: 3%;
        & > p:first-child {
            margin: 5% 0;
        };
        span {
            color: @navColor;
        }
        hr {
            margin: 5% 0 1%;
        };
        h2 {
            margin: 13% 0 5%;
            
        };
        h4 {
             .my-mixin-dark(forestgreen); 
             font-size: 1.1em;
             font-weight: 700;   
         };
        ul {
              list-style-position: inside;
              li{
                  margin-left: @size;
                  font-weight: 300;
                  font-size: 1em;
                  line-height: 1.5em;
                  .my-mixin-dark(forestgreen); 
              };
         };
         img {
             margin: 5% 25%;
             width: 40%;
         };
     }
     .res_content:extend(section .aside_content > p:first-child) {}

    @media screen and (max-width: 769px) {
        -webkit-flex-direction: column;
        flex-direction: column;
        #logo {
            width: 30%;
            margin: 0 auto;
        };
        main {
            width: 100%;
            border-bottom: 2px solid #ddd;
        }
        #main_header {
            width: 100%;
            margin-bottom: @size;
            margin-left: 0;
            text-align: center;
        }
        #sub_header {
            width: 100%;
            margin-left: 0;
            text-align: center;
        };
        #social_icons {
            width: 100%;
            margin: 0;
            text-align: center;
            svg {
                margin: 3% 3% @size 0;
                width: 8%;
            };  // svg
        };  // #social_icons
        aside {
            width: 100%;
            text-align: center;
            hr {
                width: 65%;
                margin-top: @size;
                margin-bottom: @size * 2;
                float: none;
            };
            h2 {
                margin-top: @size;
                line-height: 1.5em;
            }
            p {
                display: block;
                margin-left: 18%;
                width: 80%;
                font-size: 1.1em;
            };
            img {
                margin-bottom: @size;
                margin-left:  30%;
                width: 40%;
            };
            .sub_content  {
                width: 85%;
            };
        }   // media aside
        .aside_content {
            padding-right: 3%;
            & > p:first-child {
            margin: 5% auto;
        };
        p {
            margin: 0 auto;
        };
        hr {
            margin: 5% auto 1% ;
            width: 50%;
        };
        h4 {
            margin-bottom: 1%;
        };
        ul li{
            margin-left: 0;
        };
        img {
             margin: 5% 30%;
             width: 40%;
         };
        }; // media aside_content
    }   // media
}   // section main


#info_section {
    width: 100%;
    text-align: center;
    float: left;
    margin: 2% 0;
    background: darken(@bgColor, @size);
    p {
      margin:  .75em 0;
      font-size: 1em;
      & + p {
          margin: -.5em 0 0;
      }; 
    };
    ul {
        list-style: none;
        li {
            display: inline-block;
            margin-right: 0.5%;
            a {     
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-size: 1em;
                color: lighten(@navSecColor, 30%);
                &:hover {
                    text-decoration: underline;
                    color: @primColor;
                };  // ul li a:hover
                &::after {
                    content: " |";
                    margin: 0 1em;
                    font-style: normal;
                    color: @navColor;
                    display: inline-block;
                };  // ul li a:after
            };  // ul li a
            &:last-child a::after  {
                content: "";  
            };  // ul li:last-child a::after 
        };  // ul li
    };  // ul
    .pictures {
        width: 100%;
        display: -webkit-flex;
        display: flex;   	
    };  // .picture
    .picFrame {
        width: 33%;
        margin: 3% 0;
        float: left;
    };
    img {
        width: 25%;
    }
    @media screen and (max-width: 769px) {
/*        .pictures {
        -webkit-flex-direction: column;
        flex-direction: column;
        };*/
        p {
            font-size: 1.25em;
        };
        ul li a {
            font-size: 1em;
            line-height: 2.5em;
        };
        .picFrame {
            width: 100%;        
        };
        img {
            width: 40%;        
        };
    };   // media
    @media screen and (max-width: 320px) {
        .pictures {
        -webkit-flex-direction: column;
        flex-direction: column;
        };
        img {
            width: 25%;        
        };
    }
}   // #info_section

footer:extend(#info_section) {
    background: transparent;
    ul:extend(#info_section ul){
    };
    ul li:extend(#info_section ul li) {
        &:last-child a::after:extend(#info_section ul li:last-child a::after){
        };
    };
    ul li a:extend(#info_section ul li a) {
        color: lighten(@navSecColor, 35%);
        &::after:extend(#info_section ul li a::after) {
        };
    };
    ul li a:hover:extend(#info_section ul li a:hover) {
        color: lighten(@navColor, 35%);
        &::after:extend(#info_section ul li a::after) {
        };
    };
}   // footer


